# POSTGRES_DB=mt-pg
# POSTGRES_USER=user
# POSTGRES_PASSWORD=password
# MYSQL_ROOT_PASSWORD=password
# MYSQL_user=root
# MYSQL_DATABASE=mt-mysql




# PostgreSQL configuration
POSTGRES_DB=mt-pg
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MySQL configuration
MYSQL_DATABASE=mt-mysql
MYSQL_user=root
MYSQL_ROOT_PASSWORD=password
MYSQL_HOST=localhost
MYSQL_PORT=3306

# AWS credentials & config (Required for S3 and SES)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=us-east-1

# S3 configuration
S3_BUCKET_NAME=mindtickle-reports-bucket

# SES configuration
SES_SENDER_EMAIL=sender@example.com
SES_RECIPIENT_EMAIL=recipient@example.com
